<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CMDLGadget.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <CMDLGadget.My.MySettings>
            <setting name="FirstName" serializeAs="String">
                <value>Generic</value>
            </setting>
            <setting name="LastName" serializeAs="String">
                <value>User</value>
            </setting>
            <setting name="Initials" serializeAs="String">
                <value>GU</value>
            </setting>
            <setting name="FavOne" serializeAs="String">
                <value>000-001</value>
            </setting>
            <setting name="FavTwo" serializeAs="String">
                <value>007-007</value>
            </setting>
            <setting name="FavThree" serializeAs="String">
                <value>038-001</value>
            </setting>
            <setting name="FavFour" serializeAs="String">
                <value>090-001</value>
            </setting>
            <setting name="FavFive" serializeAs="String">
                <value>068-001</value>
            </setting>
            <setting name="SetupRequired" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="InputDataFolder" serializeAs="String">
                <value>C:\Gadget\Input</value>
            </setting>
            <setting name="OutputDataFolder" serializeAs="String">
                <value>C:\Gadget\Output</value>
            </setting>
        </CMDLGadget.My.MySettings>
    </userSettings>
</configuration>